@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

.grid-child {
  grid-area: 1 / 1 / 2 / 2;
}

.scan {
  /* background: url(/_next/static/media/noise.614780fb.svg), lightgray 0% 0% / 100px 100px repeat, #173400 */
  --tw-bg-opacity: 1;
  background:   url(/_next/static/media/noise.614780fb.svg), #375123 0% 0% / 100px 100px repeat;
  background-blend-mode:color-burn;

}
